body {
    background-color: #e0d0ba;
}

.main {
    display: flex;
    justify-content: center;
}

.main-panel {
    width: 1100px;
    border-right: solid black 1px;
}

.search-pane {
    margin-top: 20px;
    padding-right: 10px;
}

.search-pane h4 {
    margin: 0;
}

input[type="text"] {
    max-width: 250px;
}

.btn-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
}

.btn-link.selected {
    color: #551A8B;
}

/*.job-state-filter-class {*/
/*    font-weight: bold;*/
/*}*/

.expandable {
    cursor: pointer;
}


.hidden {
    display: none;
}

.panel {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 7px 15px;
}

.company-controls {
    display: flex;
    justify-content: space-between;
}

.company-controls-buttons {
    margin-right: 20px;
}

.company-name-bar {
    margin-top: 10px;
}

.side-panel {
    width: 400px;
}

.company h3 {
    margin: 0;
}

.company h3:hover {
    cursor: pointer;
}

.labels {
    display: flex;
}

.labels .label:first-child {
    margin-left: 0;
}

.label {
    margin: 2px 5px 0;
    padding: 0 3px 0;
}

.interviewing-label, .new-label {
    background-color: yellow;
}

.ignored-label {
    background-color: #a39482;
}

.saved-label {
    background-color: #009C00;
}

.excluded-label {
    background-color: #946a32;
}

.applied-label {
    background-color: #0000FF;
    color: white;
}

.rejected-label {
    background-color: #FF0000;
}

.job {
    margin: 20px;
}

.job-title a {
    font-size: large;
}

.job-title div {
    margin-top: 5px;
}

textarea {
    width: 100%;
    resize: vertical;
}

.job pre {
    white-space: pre-wrap;
}

.summary-button-holder button {
    margin-right: 7px;
}

.summary textarea, .summary pre {
    margin-top: 10px;
    margin-bottom: 5px;
}

.block-title-header {
    margin-bottom: 10px;
}