{{>header}}
<div class="main">
    <div class="add-job panel">
        <form action="/jobs/add-job" method="post" autocomplete="off">
            <p><label for="url">url:</label>
                <input id="url" type="url" name="url" required></p>

            <p><label for="title">title:</label>
                <input id="title" type="text" name="title" required></p>

            <p><label for="company">company:</label>
                <input id="company" type="text" name="company" required></p>

            <p><label for="summary">summary:</label>
                <input id="summary" type="text" name="summary"></p>

            <p><label for="location">location:</label>
                <input id="location" type="text" name="location" required></p>

            <p><label for="salary">salary:</label>
                <input id="salary" type="text" name="salary"></p>

            <p><label for="jobState">jobstate:</label>
                <select id="jobState" name="jobState" required>
                    <option value="saved">saved</option>
                    <option value="applied" selected>applied</option>
                    <option value="interviewing">interviewing</option>
                    <option value="rejected">rejected</option>
                </select></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </div>
</div>
</div>
</body>
</html>