<div class="search-pane pane">
    <div class="block-title-header">
        <h4 class="expandable">Blacklisted Companies</h4>
        <hr>
    </div>
    <div class="expandable-content">
        {{#blcompanies}}
            <div>{{.}}
                <button class="btn-link btn-tiny" value="{{.}}">remove?
                </button>
            </div>
        {{/blcompanies}}
    </div>
</div>