<div class="search-pane pane">
    <div class="block-title-header">
        <hr>
        <h4 class="expandable">Blacklisted Companies</h4>
    </div>
    <div data-blacklist-companies class="expandable-content">
        {{#blcompanies}}
            <div data-blacklisted-company="{{.}}">{{.}}
                <button class="btn-link btn-tiny"
                        data-remove-blacklisted-company=""
                        value="{{.}}"> remove?
                </button>
            </div>
        {{/blcompanies}}
    </div>
</div>