<div class="company">


    <div class="company-name-bar">
        <h3>{{name}}</h3>
        <div class="company-controls">
            <div class="labels">
                {{#labels}}
                    <span class="{{.}}-label label">{{.}}</span>
                {{/labels}}
            </div>
            <div class="company-controls-buttons">
                <button data-company-action="saved" class="btn-link">saved
                </button>
                <button data-company-action="excluded" class="btn-link">
                    excluded
                </button>
                <button data-company-action="ignored" class="btn-link">ignored
                </button>
                <button data-company="{{name}}" class="btn-link">blacklist
                </button>
            </div>
        </div>
    </div>


    <div class="company-content">
        {{#jobs}}
            {{>job}}
        {{/jobs}}
    </div>
</div>