<div class="pane">
    <span class="job-state-filter-class">APPLIED JOBS - </span>
    <span>{{numCompanies}} companies - </span>
    <span>{{numJobs}} jobs</span>
    <hr>
    <span>Filter by state: </span>
    <a href="/jobs/filter/new">New</a>
    <a href="/jobs/filter/saved" class="">Saved</a>
    <a href="/jobs/filter/applied" class="">Applied</a>
    <a href="/jobs/filter/interviewing" class="">Interviewing</a>
    <a href="/jobs/filter/excluded" class="">Excluded</a>
    <a href="/jobs/filter/rejected" class="">Rejected</a>
    <a href="/jobs/filter/ignored" class="">Ignored</a>
    <a href="/jobs/filter/all" class="">All</a>
    <hr>
    <form>
        <div>
            <label>Title:
                <input type="text" value="">
            </label>
            <label>Companies:
                <input type="text" value="">
            </label>
            <label>Search:
                <input type="text" value="">
            </label>
        </div>
    </form>
    <hr>
</div>
