<div class="pane">
    <span class="job-state-filter-class">{{state}} JOBS - </span>
    <span data-num-companies>{{numCompanies}}</span><span> companies - </span>
    <span data-num-jobs>{{numJobs}}</span><span> jobs</span>
    <hr>
    <span>Filter by state: </span>

    <a href="/jobs/filter/new" class="{{^new}}not-{{/new}}selected">New</a>
    <a href="/jobs/filter/saved"
       class="{{^saved}}not-{{/saved}}selected">Saved</a>
    <a href="/jobs/filter/applied" class="{{^applied}}not-{{/applied}}selected">Applied</a>
    <a href="/jobs/filter/interviewing"
       class="{{^interviewing}}not-{{/interviewing}}selected">Interviewing</a>
    <a href="/jobs/filter/excluded"
       class="{{^excluded}}not-{{/excluded}}selected">Excluded</a>
    <a href="/jobs/filter/rejected"
       class="{{^rejected}}not-{{/rejected}}selected">Rejected</a>
    <a href="/jobs/filter/ignored" class="{{^ignored}}not-{{/ignored}}selected">Ignored</a>
    <a href="/jobs/filter/all" class="{{^all}}not-{{/all}}selected">All</a>
    <hr>
    <form>
        <div>
            <label>Title:
                <input data-title-search-input type="text" value="{{titleSearchTerm}}">
            </label>
            <label>Companies:
                <input data-company-search-input type="text" value="{{companySearchTerm}}">
            </label>
            <label>Search:
                <input data-description-search-input type="text" value="{{descriptionSearchTerm}}">
            </label>
        </div>
    </form>
    <hr>
</div>
