{{>header}}
<body>
<div class="root">
    <div class="main">
        <div class="main-panel">
            {{>header-controls}}
            {{#companies}}
                {{>company}}
            {{/companies}}
        </div>
        <div>
            {{>previous-searches}}
            {{>label-filter}}
            {{>title-filter}}
            {{>blacklisted-companies}}
        </div>
    </div>

</div>
</body>
</html>