<div data-job-id="{{id}}" class="job">
    <div class="job-post">
        <div class="job-title">
            <a target="_blank"
               rel="noreferrer noopener"
               href="{{url}}">{{title}}
                - {{location}}</a>
            <div>
                <button data-job-edit="{{id}}" value="edit" class="btn-link">
                    edit
                </button>
                <button data-job-action="saved" data-job-id="{{id}}"
                        class="btn-link">saved
                </button>
                <button data-job-action="excluded" data-job-id="{{id}}"
                        class="btn-link">excluded
                </button>
                <button data-job-action="applied" data-job-id="{{id}}"
                        class="btn-link">applied
                </button>
                <button data-job-action="interviewing" data-job-id="{{id}}"
                        class="btn-link">interviewing
                </button>
                <button data-job-action="rejected" data-job-id="{{id}}"
                        class="btn-link">rejected
                </button>
                <button data-job-action="ignored" data-job-id="{{id}}"
                        class="btn-link">ignored
                </button>
            </div>
        </div>
        <div>
            <div class="summary">
                <pre>{{summary}}</pre>
            </div>
        </div>
        <div class="post-date">{{postDate}}</div>
    </div>
    <hr>
</div>