<div class="job">
    <div class="job-post">
        <div class="job-title"><a target="_blank"
                                  rel="noreferrer noopener"
                                  href="{{url}}">{{title}}
            - {{location}}</a>
            <button class="btn-link edit-btn">edit
            </button>
        </div>
        <div>
            <div class="summary">
                <div>
                    {{summary}}
                </div>
            </div>
        </div>
        <div class="post-date">{{postDate}}</div>
    </div>
    <div class="controls">
        <button value="saved" class="primary-btn">
            save
        </button>
        <button value="excluded"
                class="warning-btn">
            exclude
        </button>
        <button value="applied" class="success-btn">
            applied
        </button>
        <button value="rejected" class="danger-btn">
            rejected
        </button>
        <button value="ignored">ignored</button>
    </div>
</div>