<div class="search-pane pane">
    <div class="block-title-header">
        <hr>
        <h4 class="expandable">Previous Searches</h4>
    </div>
    <div class="expandable-content">
        {{#previousSearches}}
            <label>
                <input type="checkbox"
                       name="{{key}}"
                    {{#value}}
                       checked
                    {{/value}}>
                {{key}}
            </label><br>
        {{/previousSearches}}
    </div>
</div>