<div class="search-pane pane">
    <div class="block-title-header">
        <hr>
        <h4 class="expandable">Title Filter</h4>
        <form><input type="text" value="">
            <button class="primary-btn">Add</button>
        </form>
        <label>
            Include: <input class="checkbox"
                            name="blockTitleChecked"
                            type="checkbox"
                            autocomplete="off"
            {{#titleFilterChecked}}
                            checked
            {{/titleFilterChecked}}>
        </label>
        {{#titleFilterChecked}}
            <div>
                <button data-bulk-action="ignore" class="btn-link btn-tiny">
                    ignore all
                </button>
            </div>
        {{/titleFilterChecked}}
    </div>
    <div class="expandable-content">
        {{#titlefilters}}
            <div>{{.}}
                <button class="btn-link btn-tiny" value="{{.}}">remove?</button>
            </div>
        {{/titlefilters}}
    </div>
</div>